@model List<ProjectFinal.Models.LapTopAll>
@{
    ViewData["Title"] = "N5Store - Laptop";
    <link rel="stylesheet" href="~/css/slider.css" />
    <link rel="stylesheet" href="~/css/product.css" />
}
<style>
    .banner2 {
        transform: translateY(15px);
    }
</style>
<div class="banner2">
    <img src="https://pbs.twimg.com/media/GvtCaHYXQAA9cuO?format=jpg&name=medium">
</div>
<!--LAPTOP-->
<div class="product">
    <div class="product-tittle">
        <h2>LAPTOP</h2>
    </div>
    @foreach (var item in Model)
    {
        if (item.ID == 1)
        {
            <div class="product-card">
                <a class="iproduct" href="@Url.Action("AcerAspire7GM", "Acer", new { id = item.ID })">
                    <img src="@item.LinkAnh" alt="@item.TenSp" />
                </a>
                <a href="@Url.Action("AcerAspire7GM", "Acer", new { id = item.ID })">@item.TenSp</a>
                <h2 class="price">@item.GiaSp?.ToString("n0")đ</h2>
                <p>@item.CauHinh1</p>
                <p>@item.CauHinh2</p>
                <button class="btn btn-cart" onclick="location.href='@Url.Action("AcerAspire7GM", "Acer", new { id = item.ID })'">Xem Chi Tiết Sản Phẩm</button>
            </div>
        }
        else
        {
            <div class="product-card">
                <a class="iproduct" href="#">
                    <img src="@item.LinkAnh" alt="@item.TenSp" />
                </a>

                <a href="#">@item.TenSp</a>

                <h2 class="price">@item.GiaSp?.ToString("n0") đ</h2>

                <p>@item.CauHinh1</p>
                <p>@item.CauHinh2</p>

                <button class="btn btn-cart" onclick="location.href='#'">
                    Xem Chi Tiết Sản Phẩm
                </button>
            </div>

        }
    }
</div>

